<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Deployment status</title>

</head>

<body>

    <p>Dear Team,</p>

    <p>This is an automated alert to inform you:</p>
    <p>Current Deployment Status 


    <iframe src="http://192.168.1.18:3000/d-solo/fdlcrnfeocdmod/version-control-application?orgId=1&from=1715678708166&to=1715700308166&panelId=6" width="450" height="200" frameborder="0"></iframe>
    <p>Best regards,<br/>{{ awx_user_email }}</p>

</body>

</html>
