{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 4,
  "links": [],
  "panels": [
   {% for item in app_db_query.query_result[0]%}
   {%if app_db_query.query_result[0]|count != loop.index %}
    {
      "datasource": {
        "type": "mysql",
        "uid": "fdlcr1c7riebkb"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "yellow",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "version"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": true,
                  "tooltip": true,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": {{ loop.index % 4|int * 6}},
        "y": {{ loop.index / 4|int * 8}}
      },
      "id": {{ loop.index }} ,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "dataset": "version_data",
          "datasource": {
            "type": "mysql",
            "uid": "fdlcr1c7riebkb"
          },
          "editorMode": "builder",
          "format": "table",
          "rawSql": "SELECT * FROM version_data.time_series WHERE app LIKE '%{{item.application}}'",
          "refId": "A",
          "sql": {
            "columns": [
              {
                "parameters": [
                  {
                    "name": "*",
                    "type": "functionParameter"
                  }
                ],
                "type": "function"
              }
            ],
            "groupBy": [],
            
            "whereJsonTree": {
              "children1": [
                {
                  
                  "properties": {
                    "field": "app",
                    "fieldSrc": "field",
                    "operator": "ends_with",
                    "value": [
                      "{{item.application}}"
                    ],
                    "valueSrc": [
                      "value"
                    ],
                    "valueType": [
                      "text"
                    ]
                  },
                  "type": "rule"
                }
              ],
              
              "type": "group"
            },
            "whereString": "app LIKE '%{{item.application}}'"
          },
          "table": "time_series"
        }
      ],
      "title": "{{item.application}}",
      "type": "timeseries"
    },
    {%else%}
   {
      "datasource": {
        "type": "mysql",
        "uid": "fdlcr1c7riebkb"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "yellow",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "version"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": true,
                  "tooltip": true,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": {{ loop.index % 4|int * 6}},
        "y": {{ loop.index / 4|int * 8}}
      },
      "id": {{ loop.index }} ,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "targets": [
        {
          "dataset": "version_data",
          "datasource": {
            "type": "mysql",
            "uid": "fdlcr1c7riebkb"
          },
          "editorMode": "builder",
          "format": "table",
          "rawSql": "SELECT * FROM version_data.time_series WHERE app LIKE '%{{item.application}}' ",
          "refId": "A",
          "sql": {
            "columns": [
              {
                "parameters": [
                  {
                    "name": "*",
                    "type": "functionParameter"
                  }
                ],
                "type": "function"
              }
            ],
            "groupBy": [],      
            "whereJsonTree": {
              "children1": [
                {
                  
                  "properties": {
                    "field": "app",
                    "fieldSrc": "field",
                    "operator": "ends_with",
                    "value": [
                      "{{item.application}}"
                    ],
                    "valueSrc": [
                      "value"
                    ],
                    "valueType": [
                      "text"
                    ]
                  },
                  "type": "rule"
                }
              ],
              
              "type": "group"
            },
            "whereString": "app LIKE '%{{item.application}}'"
          },
          "table": "time_series"
        }
      ],
      "title": "{{item.application}}",
      "type": "timeseries"
   }
   {% endif %}  
    {% endfor %}

  ],
  "schemaVersion": 39,
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-1h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "browser",
  "title": "Navneet's Aap version Dash",
  "uid": "fdm0k0lx26znkc",
  "version": 3,
  "weekStart": ""
}
